#!/usr/bin/env python
# coding: utf-8
import json
conf = '/etc/docker/daemon.json'
meta = json.load(open(conf))
meta['bip'] = "{{ NETWORK_BIP }}"
with open(conf, 'wb') as fd:
    json.dump(meta, fd, indent=2)
